
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
        .news_section_container {
            margin-top: 180px;
        }

        .row-item-new {
            margin-bottom: 20px;
        }

        .title-news {
            font-size: 24px;
            border-bottom: 1px solid;
            padding: 15px 0;
            margin-bottom: 25px;
        }

        .img-box img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">Giới thiệu </h1>
        </div>
    </div>

 <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">
                        <a href="" title="About company"><img src="~/Uploads/images/about.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content-box">
                        <h3><a href="" title="HDShop">HDShop</a></h3>
                        <div class="description-box">
                            <p>
                                Chào mừng bạn đến với "HDShop" - nơi lựa chọn hàng đầu cho thế giới thời trang trực tuyến! Tại đây, chúng tôi tự hào mang đến cho bạn trải nghiệm mua sắm độc đáo và phong cách.
                            </p>

                            <p>
                                "HDShop" không chỉ là một trang web bán quần áo, mà là điểm đến của sự phong cách và sáng tạo. Với bộ sưu tập đa dạng từ những thương hiệu nổi tiếng đến những thiết kế độc quyền, chúng tôi cam kết đáp ứng mọi nhu cầu thời trang của bạn.
                            </p>

                            <p>
                                Dù bạn đang tìm kiếm bộ trang phục công sở thanh lịch, trang phục thể thao năng động, hay những chiếc áo và quần đẹp cho cuộc hẹn cuối tuần, "HDShop" có tất cả. Chúng tôi không chỉ cung cấp sản phẩm chất lượng cao, mà còn mang lại sự thoải mái và tự tin cho mỗi bước đi của bạn.
                            </p>

                            <p>
                                Đặc biệt, chúng tôi luôn theo đuổi xu hướng mới nhất và cập nhật thường xuyên để bạn luôn được trải nghiệm những điều mới mẻ. Với dịch vụ chăm sóc khách hàng tận tâm, "HDShop" mong muốn là người bạn đồng hành đáng tin cậy trên hành trình thời trang của bạn.
                            </p>

                            <p>
                                Hãy trải nghiệm sự khác biệt tại "HDShop" ngay hôm nay và biến mọi khoảnh khắc thành một bước đi thời trang đẳng cấp!
                            </p>

                        </div>
                    </div>
                </div>
            </div>
</div>

